.videoCardContainer {
  cursor: pointer;
  border-radius: 18px;
  padding: 8px;
  position: relative;
  margin-bottom: 8px;
}

.videoCardContainer::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 18px;
  background-color: transparent;
  transform: scale(1);
  transition: transform 0.3s ease, background-color 0.3s ease;
  z-index: -1;
}

.videoCardContainer:hover::before {
  background-color: #f2f2f2;
  transform: scale(1.03);
}

.videoCardThumbnail {
  padding: 0 0 12px 0;
}

.videoCardThumbnail img {
  width: 100%;
  border-radius: 12px;
}

.videoCardInfo {
  display: flex;
}

.videoCardAvatar {
  width: 36px;
  margin: 0 12px 0 0;
}

.videoCardAvatar img {
  width: 100%;
  border-radius: 50%;
}

.videoCardTitle {
  font-size: 16px;
  font-weight: 500;
}

.videoCardMeta {
  font-size: 14px;
  font-weight: 400;
  color: rgb(96, 96, 96);
}
